$breakpoint1: 576px;
$breakpoint2: 768px;
$breakpoint3: 992px;
$breakpoint4: 1200px;
$breakpoint5: 1400px;

$textColor: #121212;
$backgroundColor: #DEDEDE;
$textLight: #D9D9D9;
$textDark: #666666;
$elevation1: #1D1D1D;

.dark {
  background-color: $textColor;
  color: $backgroundColor;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: auto;

  @media screen and (min-width: $breakpoint1) {
    max-width: 440px;
  }

  @media screen and (min-width: $breakpoint2) {
    max-width: 620px;
  }

  @media screen and (min-width: $breakpoint3) {
    max-width: 660px;
  }

  @media screen and (min-width: $breakpoint4) {
    max-width: 840px;
  }

  @media screen and (min-width: $breakpoint5) {
    max-width: 1020px;
  }
}

.mt {
  margin-top: calc(1.325rem + 0.9vw);
}

.mtM {
  margin-top: 5rem;
}

.mtL {
  margin-top: 10rem;
}

.pr {
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center;
}

.img {
  width: 100vw;
  pointer-events: none;
}

.imgFluid {
  width: 100%;
  pointer-events: none;
}

.loadingSection {
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;

  .navBrand {
    font-size: calc(1.275rem + 0.3vw);
    text-decoration: none;
    font-weight: bold;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
    color: $textColor;
  }

  .navMenu {
    display: flex;
    align-items: center;
  }

  .navLink {
    padding-left: 4rem;
    color: $textColor;
    text-decoration: none;

    @media screen and (max-width: $breakpoint1) {
      display: none;
    }
  }
}

.dark {
  .navBrand {
    color: $backgroundColor;
  }

  .navLink {
    color: $backgroundColor;
  }
}

.darkMode {
  width: 20px;
  height: 20px;
  margin-left: 4rem;
  background-color: $textColor;
  border-radius: 100%;
  border-color: transparent;
  cursor: pointer;
}

.dark {
  .darkMode {
    background-color: $backgroundColor;
  }
}

.bebasHuge {
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke: 1px $textLight;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 6.5rem;
  z-index: -1;

  @media screen and (min-width: $breakpoint1) {
    font-size: calc(440px - 18rem);
  }

  @media screen and (min-width: $breakpoint2) {
    font-size: calc(620px - 25rem);
  }

  @media screen and (min-width: $breakpoint3) {
    font-size: calc(660px - 27rem);
  }

  @media screen and (min-width: $breakpoint4) {
    font-size: calc(840px - 34rem);
  }

  @media screen and (min-width: $breakpoint5) {
    font-size: calc(1020px - 41rem);
  }
}

.dark {
  .bebasHuge {
    -webkit-text-stroke: 1px $textDark;
  }
}

.newDiv {
  margin-top: -5.5rem;
  text-align: center;

  @media screen and (min-width: $breakpoint1) {
    margin-top: -10rem;
  }

  @media screen and (min-width: $breakpoint2) {
    margin-top: -12rem;
  }

  @media screen and (min-width: $breakpoint3) {
    margin-top: -15rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .c2 {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 1rem;
  }
    
  @media screen and (max-width: $breakpoint2) {
    flex-direction: column;

    .c2 {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

.pointer {
  cursor: pointer;
}

.aLink {
  position: relative;
  text-decoration: none;
  color: $textColor;
}

.dark {
  .aLink {
    color: $backgroundColor;
  }
}

.aLink::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: $textColor;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.dark {
  .aLink::before{
  background-color: $backgroundColor;
}
}

@media (hover: hover) and (pointer: fine) {
  .aLink:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.socialLinks {
  @media screen and (max-width: $breakpoint2) {
    display: flex;
    flex-direction: column;
  }
}

.socialLink {
  margin: 0 1.5rem;
}

.footer {
  background-color: $textColor;
  color: $backgroundColor;
  padding: 3rem 0;
}

.footerLinks {
  display: flex;
  flex-direction: column;

  .link {
    color: $backgroundColor;
    text-decoration: none;
  }
}

.dark {
  .footer {
    background-color: $elevation1;
  }
}